.sidebar {
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #505460;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 5px solid #282c34;
}

.sidebar button:after {
    content: "";
    position: relative;
    bottom: -5px;
    display: block;
    border-bottom: 2px solid white;
    width: 0%;
    transition: all 0.3s ease 0s;
}
.sidebar button:hover:after {
    width: 20px;
    border-bottom-color: #7986ae
}
.sidebar button.active:after {
    width: 100%;
}

.sidebar ul.stories-list {
    list-style-type: none;
    padding-left: 10px;
}

.sidebar ul.stories-list button {
    font-size: 18px;
}

.sidebar ul.stories-list input {
    position: absolute;
    width: calc(100% - 55px);
    text-align: left;
    margin-left: 10px;
    margin-top: 0px;
}

.stories-btn {
    position: static;
    float: left;
    padding-left: 16px;
    padding-right: 0;
    left: 0;
}

.add-story-btn {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	float: left;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
    padding:3px 10px;
    margin-left: 30px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    position:relative;
    right: 20px;
}
.add-story-btn:hover {
	background-color:#5cbf2a;
}
.add-story-btn:active {
	/*position:relative;
	top:1px;*/
}

.stories-list {
    width: calc(100% - 20px);
    float: left;
}

        

.add-story-btn:after {
    content: none !important;
}

.newStoryTextField {
    width: 80%;
    padding: 6px 8px 6px 16px;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: #e3e3e3;
    background-color: transparent;
    border: solid 1px white;
    display: block;
}

.story-button {
    float: right;
    margin-right: 10%;
}
.newStoryTextField {
    width: 80%;
    padding: 6px 8px 6px 16px;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: #e3e3e3;
    background-color: transparent;
    border: solid 1px white;
    display: block;
}

.sidebar .stories-list li {
    height: 39px;
    width: 100%;
}

.sidebar .stories-list button {
    display: inline-block;
}

.sidebar .stories-list button.delete-data-btn {
    width: 0px;
    height: 0px;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease 0s;
}
.sidebar .stories-list li:hover .delete-data-btn:before {
    opacity: 1.0;
    right: 15px;
}
.sidebar .stories-list button.delete-data-btn:before {
    content: "\00d7";
    position: absolute;
    border-radius: 50px;
    top: 2px;
    background-color:#d3584b;
	border:1px solid #b04c41;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:26px;
    padding:0px 7px;
	text-decoration:none;
    margin: 0;
    right: -15px;
    height: 30px;
    width: 15px;
    transition: all 0.3s ease 0s;
    opacity: 0;
}
.sidebar .stories-list button.delete-data-btn:hover:before {
	background-color:#b04c41;
}