#eval {
    text-align: left;
    margin: 3px;
}

#test_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: first baseline;
}

    #test_header div {
        margin: 8px;
    }

#test_header_title {
    margin: 5px;
}

.stat_table {
    border-collapse: collapse;
    border-bottom: 1px solid black;
}

    .stat_table tbody tr:nth-child(even) {
        background-color: #696D7A;
    }

    .stat_table thead {
        background-color: #665B56;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }

    .stat_table td, th {
        padding: 8px;
        border-right: 1px solid black;
        border-left: 1px solid black;
    }

.stat_table_title {
    margin-left: 5px;
}

.eval_chart {
    margin: 7px 0px 7px 0px;
}