table {
    width: 100%;
    padding: 15px;
    height: match-parent;
}

td {
    width: 30%;
}

ul {
    text-align: left;
    padding-left: 5%;
}

.fixedWidth {
    width: 33vw;
    height: 100%;
    overflow: auto;
}
.fixedWidthPercentile {
    width: 33vw;
    height: 100%;
    overflow: auto;
}

.scrollHorizontally {
    width: 200vw;
    height: 100%;
}.scrollHorizontallyPercentile {
    width: 200vw;
    height: 90%;
}

.percentiles {
    width: 100%;
}