.inspector {
    position: absolute;
    margin: 20px;
    min-width: 200px;
    max-width: 30%;
    top: 20px;
    right: 20px;
    background-color: #282c34;
    color: white;
    border: 3px solid #565d6a;
    border-radius: 10px;
}

.inspector .inputs-container {
    text-align: left;
    margin-left: 10px;
    margin-right: 15px;
}

.inspector input {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10px;
}

.inspector .data-generation-table table {
    text-align: left;
    min-width: 190px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #cbcfd5;
    color: black;
}

.inspector .data-generation-table table td {
    padding: 3px 10px;
    border-left: 1px solid black;
}