#graphview .node {
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    position: absolute;
    border: 1px solid #a2a9b5;
    width: 150px;
    min-height: 100px;
    background-color: #282c34;
    transition: background-color 1s ease;
    transition: box-shadow 0.3s ease;
}

#graphview .node.selected {
    background-color: #3a3e48;
    box-shadow: 3px 5px 10px 0 rgba(0,0,0,0.4);
}

#graphview .node .conn {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 10px;
    background-color: rgb(255, 255, 75); 
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
}

#graphview .node .conn:hover {
    background-color: rgb(181, 181, 62);
}

#graphview .node .conn.conn-in {
    left: -6px;
}

#graphview .node .conn.conn-out {
    right: -6px;
}